---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en" class="snap-y scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<title>David Mendoza</title>
	</head>
	<body>
		<div
			class="bg-blue-700 heropattern-bathroomfloor-blue-600 lg:px-20 lg:py-10"
		>
			<div class="bg-neutral-800 font-poppins text-white lg:rounded-[3rem]">
				<Header />
				<div class="mx-5 sm:mx-16">
					<Hero />
					<Skills />
					<Projects />
					<Contact />
					<Footer />
				</div>
			</div>
		</div>
	</body>
</html>
