---
---

<header
	class="p-2 flex items-center justify-between sticky top-0 bg-neutral-800 z-10"
>
	<div class="flex gap-2 items-center">
		<div class="relative bg-blue-600 p-4 rounded-full font-bold">
			<p class="absolute top-[10%] left-[30%] text-xl">D</p>
		</div>
		<h3 class="tracking-wider">
			<span class="font-bold">David</span> Mendoza
		</h3>
	</div>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="2"
		stroke="currentColor"
		class="w-6 h-6"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
	</svg>
</header>
