<section class="p-5" id="inicio">
	<div class="flex flex-col items-center">
		<img
			class="rounded-full w-[330px] h-[200px] grayscale z-0 sm:w-[450px] sm:h-[300px]"
			src="/frontend.webp"
			alt="hero image"
		/>

		<div class="flex flex-col items-center">
			<p
				class="underline underline-offset-2 font-light text-neutral-500 mb-2 text-xs"
			>
				Desarollador web Fullstack
			</p>
			<h1
				class="font-bold tracking-widest text-3xl mb-6 [text-shadow:_5px_5px_2px_rgb(0_0_0_/_30%)] sm:text-4xl"
			>
				David Mendoza
			</h1>
			<p
				class="w-3/4 text-center text-sm text-neutral-500 leading-6 sm:text-md sm:w-2/4"
			>
				La inustria del desarrollo web se encuentra evolucionando
				constantemente; <span class="font-bold text-neutral-400"
					>y yo con ella.</span
				>
				Libraries, Frameworks, UI, UX, API's, Lenguajes... todos los días sale algo
				nuevo. Y sea lo que sea, si no lo sé,
				<span class="font-bold text-neutral-400">LO APREHENDERÉ.</span>
			</p>
			<div class="flex flex-col gap-4 mt-8 sm:flex-row sm:gap-10 sm:mt-16">
				<button
					class="text text-neutral-300 border-2 border-blue-600 py-2 px-4 rounded-xl text-sm bg-neutral-700 drop-shadow-sm"
					>Curriculum</button
				>

				<a
					href="#contacto"
					class="text text-neutral-300 border-2 border-neutral-200 py-2 px-4 rounded-xl text-sm bg-neutral-700"
					>Contacto</a
				>
			</div>
		</div>
	</div>
</section>
