<section class="p-5">
	<div class="flex flex-col items-center">
		<img
			class="rounded-full grayscale w-[330px] h-[200px]"
			src="/frontend.webp"
			alt="hero image"
		/>

		<div class="flex flex-col items-center">
			<p class="font-light text-sm text-neutral-500 mb-2">
				Desarollador web Fullstack
			</p>
			<h1 class="font-bold tracking-widest text-3xl mb-6">David Mendoza</h1>
			<p class="text-center text-sm text-neutral-500 leading-6">
				La inustria del desarrollo web se encuentra evolucionando
				constantemente; <span class="font-bold text-neutral-400"
					>y yo con ella.</span
				><br />
				Libraries, Frameworks, UI, UX, API's, Lenguajes... todos los días sale algo
				nuevo. Y sea lo que sea, si no lo sé,<br />
				<span class="font-bold text-neutral-400">LO APREHENDERÉ.</span>
			</p>
			<div class="flex flex-col gap-4 mt-8">
				<button
					class="text text-neutral-300 border-2 border-blue-600 py-2 px-4 rounded-xl text-sm bg-neutral-700"
					>Curriculum</button
				>

				<button
					class="text text-neutral-300 border-2 border-neutral-200 py-2 px-4 rounded-xl text-sm bg-neutral-700"
					>Contacto</button
				>
			</div>
		</div>
	</div>
</section>
