---
import TuboSVG from './TuboSVG.astro';
import Lyriks from './projects/Lyriks.astro';
import Tik from './projects/Tik.astro';
import Metaversus from './projects/Metaversus.astro';
import Todo from './projects/Todo.astro';
---

<section class="mt-10" id="proyectos">
	<div class="flex items-center gap-2">
		<TuboSVG />
		<h2 class="w-fit border-b-2 border-blue-600 text-lg font-bold">
			Proyectos
		</h2>
	</div>

	<div class="flex flex-col lg:flex-row">
		<Lyriks />
		<Tik />
	</div>

	<div class="flex flex-col lg:flex-row">
		<Metaversus />
		<Todo />
	</div>
</section>

<!-- 
	<p>metaversus</p>
	<p>rapidSurvey</p> -->
