---
import TuboSVG from './TuboSVG.astro';
---

<section class="mt-10">
	<div class="flex items-center gap-2">
		<TuboSVG />
		<h2 class="text-xl font-bold border-b-2 border-blue-600 w-fit">
			Proyectos
		</h2>
	</div>

	<div
		class="bg-gradient-to-b from-neutral-900 to-neutral-800 mt-10 border-2 border-neutral-700 rounded-xl"
	>
		<div class="flex flex-col items-center gap-5">
			<img
				class="border-b-2 border-neutral-700 rounded-t-xl"
				src="/lyrikz.webp"
				alt="project image"
			/>
			<div class="p-3">
				<div class="flex flex-col items-center mb-5">
					<h3 class="underline text-2xl font-bold tracking-wide text-blue-700">
						Lyrikz
					</h3>
					<p class="text-sm text-neutral-500">Clon de spotify</p>
				</div>
				<ul class="flex flex-col items-center text-neutral-400">
					<li>Vite (react)</li>
					<li>Redux</li>
					<li>Tailwind</li>
					<li>Swiper</li>
				</ul>
			</div>
		</div>
	</div>

	<div
		class="bg-gradient-to-b from-neutral-900 to-neutral-800 mt-10 border-2 border-neutral-700 rounded-xl"
	>
		<div class="flex flex-col items-center gap-5">
			<img
				class="border-b-2 border-neutral-700 rounded-t-xl"
				src="/tik-tik.webp"
				alt="project image"
			/>
			<div class="p-3">
				<div class="flex flex-col items-center mb-5">
					<h3 class="underline text-2xl font-bold tracking-wide text-pink-600">
						Tik-Tik
					</h3>
					<p class="text-sm text-neutral-500">Clon de TikTok</p>
				</div>
				<ul class="flex flex-col items-center text-neutral-400">
					<li>NextJS (react)</li>
					<li>Typescript</li>
					<li>Zustand</li>
					<li>Tailwind</li>
					<li>Sanity</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- 	<p>tiktik</p>
	<p>metaversus</p>
	<p>rapidSurvey</p>
	<p>SuperTodoList!!!</p> -->
