---
import TuboSVG from './TuboSVG.astro';
import Lyriks from './projects/Lyriks.astro';
import Tik from './projects/Tik.astro';
import Metaversus from './projects/Metaversus.astro';
import Todo from './projects/Todo.astro';
import Rapidsurvey from './projects/Rapidsurvey.astro';
---

<section class="mt-10" id="proyectos">
	<div class="flex items-center gap-2">
		<TuboSVG />
		<h2 class="w-fit border-b-2 border-blue-600 text-lg font-bold lg:text-2xl">
			Proyectos
		</h2>
	</div>

	<div class="mx-auto flex flex-col lg:flex-row">
		<Lyriks />
		<Tik />
	</div>

	<div class="lg:flex-grow-2 flex flex-col gap-8 lg:flex-row">
		<Metaversus />
		<Rapidsurvey />
		<Todo />
	</div>
</section>
<hr class="mx-auto mt-16 hidden w-1/2 border border-neutral-700 lg:block" />
