---
import LightBublbSVG from '../components/LighbulbSVG.astro';
import HtmlSVG from './HtmlSVG.astro';
import JavascriptSVG from './JavascriptSVG.astro';
import CssSVG from './CssSVG.astro';
import PhpSVG from './PhpSVG.astro';
---

<section class="mt-5 w-11/12 mx-auto" id="conocimientos">
	<div class="flex items-center gap-2">
		<LightBublbSVG />
		<h2 class="text-xl font-bold border-b-2 border-blue-600 w-fit">
			Conocimientos
		</h2>
	</div>
	<div class="mt-12 space-y-5">
		<h3 class="font-sed text-5xl w-fit mx-auto text-neutral-600">-Frontend-</h3>
		<div
			class="flex flex-col items-center bg-gradient-to-t from-blue-500 via-blue-400 to-blue-300 rounded-xl p-5"
		>
			<HtmlSVG />
			<h3
				class="mt-2 text-2xl font-bold mb-5 [text-shadow:_0_1px_0_rgb(0_0_0_/_50%)]"
			>
				HTML
			</h3>
			<ul
				class="flex flex-col items-center text-blue-200 text-md [text-shadow:_0_1px_0_rgb(0_0_0_/_50%)]"
			>
				<li>Semantic markup</li>
				<li>Manejo de formas</li>
				<li>Gráficos</li>
				<li>Media</li>
				<li>S.E.O.</li>
			</ul>
		</div>
		<hr class="border border-neutral-700 w-4/5 mx-auto" />
		<div
			class="flex flex-col items-center bg-gradient-to-t from-blue-500 via-blue-400 to-blue-300 rounded-xl p-5"
		>
			<JavascriptSVG />
			<h3
				class="mt-2 text-2xl font-bold mb-5 [text-shadow:_0_1px_0_rgb(0_0_0_/_50%)]"
			>
				Javascript
			</h3>
			<ul
				class="flex flex-col items-center text-blue-200 text-md [text-shadow:_0_1px_0_rgb(0_0_0_/_50%)]"
			>
				<li>Vue</li>
				<li>React</li>
				<li>Redux</li>
				<li>Zustand</li>
				<li>NextJS</li>
				<li>Vite</li>
				<li>AstroJS</li>
				<li>InertiaJS</li>
				<p>Framermotion</p>
				<p>Swiper</p>
			</ul>
		</div>
		<hr class="border border-neutral-700 w-4/5 mx-auto" />

		<div
			class="flex flex-col items-center bg-gradient-to-t from-blue-500 via-blue-400 to-blue-300 rounded-xl p-5"
		>
			<CssSVG />
			<h3
				class="mt-2 text-2xl font-bold mb-5 [text-shadow:_0_1px_0_rgb(0_0_0_/_50%)]"
			>
				CSS
			</h3>
			<ul
				class="flex flex-col items-center text-blue-200 text-md [text-shadow:_0_1px_0_rgb(0_0_0_/_50%)]"
			>
				<li>PostCSS</li>
				<li>Tailwind</li>
				<li>Sass</li>
				<li>Mui</li>
			</ul>
		</div>
		<h3 class="font-sed text-5xl w-fit mx-auto text-neutral-600">-Backend-</h3>
		<div
			class="flex flex-col items-center bg-gradient-to-t from-blue-500 via-blue-400 to-blue-300 rounded-xl p-5"
		>
			<PhpSVG />
			<h3
				class="mt-2 text-2xl font-bold mb-5 [text-shadow:_0_1px_0_rgb(0_0_0_/_50%)]"
			>
				PHP
			</h3>
			<ul
				class="flex flex-col items-center text-blue-200 text-md [text-shadow:_0_1px_0_rgb(0_0_0_/_50%)]"
			>
				<li>Laravel</li>
				<li>Mysql</li>
				<li>OOP</li>
				<li>Sanity</li>
				<li>Firebase</li>
			</ul>
		</div>
	</div>
</section>
